.player-card{
    background-color: azure;
    margin-left: 30%;

    display: grid;

    width: 50%;
    height: 50%;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.song1{
    text-align: center;

}

.song2{
    text-align: center;
}

.song3{
    text-align: center;
}

.song4{
    text-align: center;
}

.progress-img{
    /* outline: 3px solid black; */
    margin: 30px;
    
    border-radius: 50%;
    display: grid;
    justify-items: center;

}

.img1{
     width: 80%; 
     height: 80%; 
    border-radius: 55%; 
}

.buttons{
    /* outline: black 2px solid; */
    /* width: 20px; */
    text-align: center;
}

.play1{
    width: 40px;
}